.home-page {
  .form {
    position: relative;
    @include displayFlexCenter();

    .content {
      z-index: 1;
      width: 100%;
      height: 100%;
      max-width: calc(100vw - 50px);

      h1 {
        color: $white;
        text-align: center;
      }

      form {
        width: 100%;

        .search-form {
          @include displayFlexCenter();
          max-width: 500px;
          margin: 0 auto;

          .input {
            width: calc(100% - 50px);

            input {
              height: 50px;
              border-radius: 5px 0 0 5px;
              border: none;
            }
          }

          .action {
            button {
              height: 50px;
              width: 50px;
              @include displayFlexCenter();
              background-color: $primary-color;
              color: $white;
              border-radius: 0 5px 5px 0;
              text-decoration: none;
              border: none;
              @include transition(all .5s);

              &:hover {
                background-color: $secondary-color;
              }
            }
          }
        }
      }

      .results {
        background-color: $white;
        margin: 50px auto;
        padding: 20px;
        width: 500px;
        max-width: calc(100vw - 50px);

        p {
          margin: 0;
          text-align: center;
        }

        .alc-loader {
          margin: 10px auto;
        }

        .alc-api-etablisement-list {
          &--item {
            padding: 20px 0;

            .header {
              a {
                padding: 10px;

                &.active {
                  i {
                    &:before {
                      content: "\f070";
                    }
                  }
                }
              }
            }

            .all-datas {
              display: none;
              background-color: #F2F3F4;
              padding: 10px;
              margin-top: 5px;
              text-align: center;

              .single-datas {
                > div {
                  margin: 10px 0;
                }

                .resume-datas {
                  @include displayFlexCenter;
                  flex-wrap: wrap;

                  span {
                    margin: 0 5px;
                  }
                }
              }
            }
          }

          .list-see-more {
            display: block;
            margin: 10px auto;
            width: max-content;
            padding: 10px 25px;
            border: solid 1px $primary-color;
            background-color: $primary-color;
            color: $white;
            text-decoration: none;
            @include transition(all .5s);

            &:hover, &:focus {
              color: $primary-color;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
