{% extends 'layout.html.twig' %}

{% block page_classes %}home-page{% endblock %}

{% block content %}
    <div class="form">
        <div class="content">
            <h1>Rechercher une entreprise</h1>
            {{ form_start(searchForm, {attr: {id: 'home-search-form'}}) }}
                <div class="search-form">
                    <div class="input">
                        {{ form_row(searchForm.text) }}
                    </div>
                    <div class="action">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            {{ form_end(searchForm) }}
            <div id="search-results" class="results container">
                <p>
                    Effectuer une recherche dès maintenant enfin d'en savoir plus sur l'entreprise de votre choix.
                </p>
            </div>
        </div>
    </div>

    {% include 'Front/_blank_modal.html.twig' %}
{% endblock %}
