<div class="alc-api-etablisement-list">
    {% for etablissement in etablissements %}
        <div class="alc-api-etablisement-list--item">
            {{ etablissement['l1_normalisee'] }}
        </div>
    {% endfor %}
</div>
