<div class="alc-api-etablisement-list">
    {% for data in etablissements %}
        {% set etablissement = denormalizeEtablissement(data) %}
        <div class="alc-api-etablisement-list--item">
            <div class="header">
                <p>
                    {{ etablissement.name }}
                    <a href="#" data-action="view-company-link"
                       data-url="{{ path('api_view_company', {siret: etablissement.siret}) }}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}

    {% if page < totalPages %}
        <a href="#" class="list-see-more" data-term="{{ searchName }}" data-page="{{ page + 1 }}">
            Charger plus
        </a>
    {% endif %}

    {% if etablissements|length == 0 %}
        <p>Aucun résultat</p>
    {% endif %}
</div>
